[user]
	email = ben.harcourt@harcourtprogramming.co.uk
	name = Benedict Harcourt
	signingkey = /home/benedict/.ssh/id_ed25519.pub
[core]
	excludesfile = /home/benedict/.gitignore_global

[commit]
	verbose = 1
	gpgsign = 1
[gpg]
	format = ssh
[init]
	defaultBranch = mainline
[pull]
	ff = only
[push]
	autoSetupRemote = true
[diff]
	tool = kitty
[difftool]
	prompt = false
	trustExitCode = true
[difftool "kitty"]
	cmd = kitten diff $LOCAL $REMOTE
[alias]
	idiff = difftool --no-symlinks --dir-diff
